.leftBarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.leftBarFriendImg {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}