.rightBar {
    flex: 3.5;
}

.rightBarWrapper {
    padding: 2rem 2rem 0 0;
}

.rightBarWrapperBirthdayContainer {
    display: flex;
    align-items: center;
}

.rightBarWrapperBirthdayContainerImg {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.rightBarWrapperBirthdayContainerText {
    font-size: 1.5rem;
    font-weight: 300;
}

.rightBarWrapperAdd {
    width: 100%;
    border-radius: 1rem;
    margin: 3rem 0;
}

.rightBarWrapperTittle {
    margin-bottom: 2rem;
}

.rightBarWrapperFriend {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.rightBarWrapperFriendImgContainer {
    margin-right: 1rem;
    position: relative;
}

.rightBarWrapperFriendImg {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.rightBarWrapperFriendBadge {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -.1rem;
    right: -.1rem;
    border: .2rem solid white;
}

.rightBarWrapperFriendName {
    font-weight: 500;
}